.bgcolor{
    background: url("../images/bag8.png");
    background resize: display:resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: ;;;;;;;;;;;;; ;
    background-attachment: fixed;
 }




 .bgcolr{

    background: url("../images/download67.jpg");
    background resize: display:resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: ;;;;;;;;;;;;; ;
    background-attachment: fixed;


 }


 .bkcolor{

    background: url("../images/images90.jpg");
    background resize: display:resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: ;;;;;;;;;;;;; ;
    background-attachment: fixed;

 }

 .divcolor{

    background: url("../images/img12.jpg");
    background resize: display:resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: resize: ;;;;;;;;;;;;; ;
    background-attachment: fixed;


 }

 .bkgcolor{

   background-color: rgb(226, 190, 190);
 }

